*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  margin: auto;
  padding: auto;
  background-image: url(../img/background-1.png);
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  width: 1366px;
  height: 768px;
  left: 0px;
  top: 0px;
}
.page-header {
  display: flex;
  position: absolute;
  width: 1028px;
  height: 61px;
  margin-left: 161px;
  margin-top: 46px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo-link-img2 {
  position: absolute;
  width: 53px;
  height: 47px;
  left: 2px;
  top: 5px;
  bottom: 9px;
}

.logo-link-img3 {
  position: absolute;
  width: 53px;
  height: 47px;
  left: 2px;
  top: 5px;
  bottom: 9px;
}
.logo-text1 {
  display: flex;
  margin-top: 0px;
  padding: 0px;
}
.milan {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 61px;
  top: 3px;
  align-content: center;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.holidays {
  position: absolute;
  width: 135px;
  height: 21px;
  left: 61px;
  top: 29px;
  padding: 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.logo-block-hover:hover .logo-link-img2 {
  display: block;
  color: #f26522;
}
.logo-block-hover:hover .milan {
  color: #f26522;
}
.logo-block-hover:hover .holidays {
  color: #f26522;
}

.logo-block-hover:hover .logo-link-img3,
.logo-text2 {
  display: none;
}
.contact-info {
}
.email {
  position: absolute;
  width: 219px;
  height: 21px;
  left: 811px;
  top: 0px;
  right: 0px;
  text-decoration: none;
  padding-right: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  display: flex;
  align-items: flex-start;

  color: #ffffff;
}
.phone {
  position: absolute;
  width: 146px;
  height: 21px;
  left: 882px;
  top: 40px;
  right: 0px;
  bottom: 0px;
  padding-right: 0px;
  text-decoration: none;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}
.contant {
  position: absolute;
  width: 1030px;
  justify-content: space-between;
  /*height: 560px;*/
  left: 159px;
  top: 107px;
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.tours-menu {
  position: relative;
  list-style: none;
  display: grid;
  width: 1030px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: none;
  column-gap: 61px;
  left: 6px;
  right: 0px;
  top: 0px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.contact-info :hover {
  color: #f26522;
  text-decoration: none;
  list-style: none;
}
.tours-menu-items {
  padding-top: 0px;
  margin-top: 0px;
}
.price {
  display: none;
  position: absolute;
  background-color: #f26522;
  width: 296px;
  height: 55px;
  left: 2px;
  top: 147px;
  bottom: 0px;
  color: #ffffff;
}
.from {
  display: block;
  position: absolute;
  top: 7px;
  left: 16px;
  width: 22px;
  height: 14px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  color: #ffffff;
}
.euro {
  position: absolute;
  width: 36px;
  height: 14px;
  left: 16px;
  top: 29px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.view-details {
  position: absolute;
  width: 78px;
  height: 14px;
  left: 180px;
  top: 29px;
  bottom: 12px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.view-details::after {
  content: ">";
  color: #ffffff;
  position: absolute;
  width: 5px;
  height: 10px;
  left: 94px;
  top: 0px;
}
.tours-menu-items:hover .tours-menu-text-link {
  color: #f26522;
  display: flex;
}
.tours-menu-items-link {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.tours-menu-items:hover .price {
  display: flex;
}

.tours-menu-text-link {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 37px;
  color: #ffffff;
}
/*.footer-bar {
}*/
.coperight {
  position: absolute;
  width: 306px;
  height: 21px;
  left: 530px;
  top: 732px;
  bottom: 15px;
  margin-top: 0px;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
